.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: #141516;
  .curve {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
    path {
      @apply fill-[#141516] dark:fill-slate-300;
    }
  }
  .name {
    @apply mt-2 mt-2 cursor-pointer cursor-pointer text-[35px] text-[35px] font-bold font-bold text-white text-white transition-all transition-all
duration-300 duration-300 dark:text-slate-800 dark:text-slate-800 xs:text-[40px] xs:text-[40px] sm:text-[50px] sm:text-[50px] lg:text-[70px] lg:text-[70px] lg:leading-[88px] lg:leading-[88px];
  }
  /* p {
    display: flex;
    color: white;
    font-size: 42px;
    align-items: center;
    position: absolute;
    z-index: 1;
    span {
      display: block;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      margin-right: 10px;
    }
  } */
}
