.float {
  @apply hidden md:flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 0;

  position: fixed;
  bottom: 0;
  z-index: 3;
}

.line {
  @apply border-slate-800 dark:border-white;
  height: 75px;
  border: 0.5px solid;
}

.social {
  left: 50px;
}

.social div:not(:first-child) a svg path {
  @apply stroke-black dark:stroke-gray;
}

.social div:first-child a svg path {
  @apply fill-black dark:fill-gray;
}

.social svg {
  width: 20px !important;
  height: 20px !important;
}

.social svg,
.social svg path,
.mail span {
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.social svg:hover {
  transform: scale(1.5);
}
/* 
.social svg:hover:not(.npm) > path {
  @apply !stroke-[#915eff];
}

.social .npm:hover > path {
  @apply !fill-[#915eff];
} */

.mail {
  right: 50px;
  padding: 0;
}

.mail span {
  @apply text-xs text-slate-800 dark:text-gray;
  letter-spacing: 0.05em;
  writing-mode: vertical-rl;
  text-align: center;
}

/* .mail span:hover {
  @apply text-[#915eff];
} */
