#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 50px 1402px #fff, 445px 1100px #fff, 344px 320px #fff,
    996px 301px #fff, 244px 69px #fff, 724px 959px #fff, 1384px 1212px #fff,
    1739px 1843px #fff, 709px 1067px #fff, 1413px 1673px #fff, 1378px 168px #fff,
    1976px 1512px #fff, 1644px 1468px #fff, 1470px 1560px #fff, 922px 124px #fff,
    485px 1945px #fff, 683px 1144px #fff, 1744px 1023px #fff, 1129px 469px #fff,
    1404px 1946px #fff, 652px 500px #fff, 733px 1192px #fff, 732px 1620px #fff,
    1630px 1624px #fff, 190px 1830px #fff, 1517px 1568px #fff, 1363px 346px #fff,
    978px 1550px #fff, 1423px 1916px #fff, 1149px 1909px #fff, 73px 1712px #fff,
    614px 504px #fff, 1358px 1304px #fff, 332px 1070px #fff, 90px 1377px #fff,
    992px 977px #fff, 771px 992px #fff, 1721px 1523px #fff, 1907px 795px #fff,
    132px 1934px #fff, 864px 1833px #fff, 1408px 1843px #fff, 719px 164px #fff,
    1888px 1389px #fff, 862px 476px #fff, 160px 951px #fff, 1940px 540px #fff,
    4px 1860px #fff, 1298px 199px #fff, 336px 761px #fff, 888px 1347px #fff,
    476px 1561px #fff, 1918px 1236px #fff, 1557px 1758px #fff, 465px 576px #fff,
    1870px 897px #fff, 349px 381px #fff, 1690px 776px #fff, 1339px 898px #fff,
    1813px 1307px #fff, 306px 489px #fff, 355px 372px #fff, 1479px 549px #fff,
    220px 1042px #fff, 712px 14px #fff, 1121px 47px #fff, 1556px 1511px #fff,
    1425px 564px #fff, 1349px 328px #fff, 1906px 1524px #fff, 693px 1630px #fff,
    1775px 853px #fff, 849px 525px #fff, 1243px 135px #fff, 1566px 694px #fff,
    1204px 1992px #fff, 1953px 1288px #fff, 670px 1785px #fff, 701px 1594px #fff,
    1478px 1733px #fff, 199px 849px #fff, 1279px 1828px #fff, 1376px 358px #fff,
    1345px 1888px #fff, 1091px 1387px #fff, 1048px 873px #fff, 788px 1374px #fff,
    187px 596px #fff, 1946px 1200px #fff, 1585px 1167px #fff, 823px 538px #fff,
    1323px 737px #fff, 862px 1377px #fff, 1991px 1424px #fff, 814px 326px #fff,
    213px 473px #fff, 1571px 419px #fff, 877px 486px #fff, 1335px 585px #fff,
    731px 141px #fff, 939px 1933px #fff, 1953px 1506px #fff, 983px 85px #fff,
    1188px 43px #fff, 1974px 1789px #fff, 1430px 1309px #fff, 1314px 1899px #fff,
    686px 332px #fff, 1698px 1595px #fff, 520px 900px #fff, 1379px 710px #fff,
    1248px 486px #fff, 508px 441px #fff, 1736px 441px #fff, 376px 1888px #fff,
    1895px 1006px #fff, 1476px 657px #fff, 537px 74px #fff, 673px 200px #fff,
    1387px 116px #fff, 930px 1548px #fff, 1628px 50px #fff, 790px 1810px #fff,
    1836px 141px #fff, 749px 1313px #fff, 1665px 599px #fff, 904px 1231px #fff,
    814px 1056px #fff, 882px 378px #fff, 1370px 1306px #fff, 1850px 1090px #fff,
    405px 1228px #fff, 442px 572px #fff, 1849px 319px #fff, 118px 1425px #fff,
    1071px 560px #fff, 547px 1019px #fff, 890px 1435px #fff, 1004px 133px #fff,
    1727px 1197px #fff, 115px 1339px #fff, 1214px 1051px #fff, 197px 460px #fff,
    1420px 1377px #fff, 201px 403px #fff, 689px 1672px #fff, 839px 1845px #fff,
    535px 1177px #fff, 1875px 1930px #fff, 717px 1185px #fff, 1543px 1234px #fff,
    240px 1702px #fff, 830px 1553px #fff, 223px 266px #fff, 1464px 1104px #fff,
    1783px 1615px #fff, 1517px 441px #fff, 1965px 638px #fff, 1611px 1047px #fff,
    1588px 390px #fff, 1619px 1498px #fff, 114px 1580px #fff, 1675px 1274px #fff,
    1710px 26px #fff, 1950px 600px #fff, 579px 401px #fff, 942px 284px #fff,
    1690px 665px #fff, 120px 970px #fff, 1007px 1596px #fff, 963px 1169px #fff,
    1886px 774px #fff, 1905px 840px #fff, 1791px 123px #fff, 1000px 1530px #fff,
    727px 1868px #fff, 170px 1069px #fff, 167px 905px #fff, 1152px 34px #fff,
    1963px 603px #fff, 1996px 1745px #fff, 205px 782px #fff, 1986px 359px #fff,
    48px 1310px #fff, 1546px 126px #fff, 473px 1122px #fff, 59px 715px #fff,
    438px 116px #fff, 401px 10px #fff, 1135px 1865px #fff, 702px 1773px #fff,
    271px 810px #fff, 1175px 558px #fff, 1371px 1462px #fff, 414px 580px #fff,
    1817px 32px #fff, 904px 1027px #fff, 67px 1268px #fff, 1003px 453px #fff,
    1924px 1931px #fff, 69px 1014px #fff, 836px 1236px #fff, 70px 713px #fff,
    1088px 778px #fff, 1296px 1404px #fff, 1967px 1071px #fff, 1437px 369px #fff,
    1629px 1516px #fff, 492px 985px #fff, 1925px 1288px #fff, 1187px 1805px #fff,
    1457px 502px #fff, 1330px 1977px #fff, 978px 1173px #fff, 506px 201px #fff,
    85px 1649px #fff, 713px 294px #fff, 944px 1264px #fff, 929px 1734px #fff,
    3px 1594px #fff, 324px 1652px #fff, 101px 1944px #fff, 694px 858px #fff,
    230px 1001px #fff, 1454px 512px #fff, 254px 542px #fff, 1151px 815px #fff,
    483px 1872px #fff, 597px 1872px #fff, 44px 1625px #fff, 1848px 1403px #fff,
    138px 457px #fff, 369px 152px #fff, 966px 45px #fff, 1415px 425px #fff,
    198px 88px #fff, 892px 220px #fff, 1342px 1609px #fff, 1009px 848px #fff,
    1777px 368px #fff, 1060px 742px #fff, 277px 930px #fff, 395px 765px #fff,
    564px 1357px #fff, 1821px 1475px #fff, 1783px 686px #fff, 1947px 491px #fff,
    458px 578px #fff, 748px 508px #fff, 705px 1645px #fff, 1312px 832px #fff,
    73px 1906px #fff, 751px 1489px #fff, 471px 188px #fff, 944px 1281px #fff,
    1133px 64px #fff, 1707px 371px #fff, 1054px 171px #fff, 1073px 1897px #fff,
    46px 715px #fff, 1381px 698px #fff, 1489px 1413px #fff, 1319px 1985px #fff,
    869px 36px #fff, 1216px 365px #fff, 50px 1662px #fff, 1404px 705px #fff,
    1085px 13px #fff, 1858px 1348px #fff, 837px 101px #fff, 479px 131px #fff,
    888px 1489px #fff, 1133px 1864px #fff, 382px 287px #fff, 216px 1998px #fff,
    328px 1490px #fff, 1738px 1304px #fff, 670px 1657px #fff, 1292px 1913px #fff,
    1461px 1004px #fff, 5px 1269px #fff, 674px 490px #fff, 516px 1873px #fff,
    1205px 466px #fff, 989px 1525px #fff, 4px 1294px #fff, 692px 888px #fff,
    211px 419px #fff, 711px 1942px #fff, 1942px 183px #fff, 1463px 874px #fff,
    1748px 310px #fff, 1076px 1863px #fff, 639px 847px #fff, 138px 65px #fff,
    124px 1302px #fff, 1153px 174px #fff, 703px 25px #fff, 1749px 61px #fff,
    424px 1284px #fff, 1459px 156px #fff, 1462px 1444px #fff, 1035px 352px #fff,
    1796px 278px #fff, 1761px 929px #fff, 1710px 253px #fff, 642px 110px #fff,
    39px 602px #fff, 52px 1677px #fff, 1714px 1150px #fff, 1857px 367px #fff,
    466px 652px #fff, 455px 208px #fff, 66px 1020px #fff, 947px 682px #fff,
    1534px 1482px #fff, 1540px 409px #fff, 1137px 1543px #fff, 1102px 436px #fff,
    1129px 434px #fff, 1893px 253px #fff, 685px 88px #fff, 1522px 1524px #fff,
    952px 72px #fff, 1355px 827px #fff, 338px 1680px #fff, 1242px 1126px #fff,
    444px 1682px #fff, 1175px 753px #fff, 894px 1328px #fff, 1479px 689px #fff,
    797px 887px #fff, 52px 1462px #fff, 992px 12px #fff, 1915px 243px #fff,
    351px 803px #fff, 17px 1640px #fff, 1305px 1617px #fff, 1147px 1117px #fff,
    1662px 506px #fff, 1058px 1349px #fff, 572px 1872px #fff, 892px 826px #fff,
    1291px 1084px #fff, 53px 1524px #fff, 1030px 1576px #fff, 22px 507px #fff,
    1914px 1055px #fff, 540px 774px #fff, 1856px 1219px #fff, 1071px 298px #fff,
    1979px 157px #fff, 814px 1415px #fff, 1056px 829px #fff, 1312px 1895px #fff,
    696px 945px #fff, 1082px 1902px #fff, 1946px 268px #fff, 1564px 1392px #fff,
    228px 1643px #fff, 1035px 328px #fff, 1959px 340px #fff, 582px 375px #fff,
    1788px 198px #fff, 254px 431px #fff, 121px 999px #fff, 1606px 55px #fff,
    1384px 1142px #fff, 1480px 582px #fff, 1316px 1036px #fff,
    1762px 1245px #fff, 1862px 1490px #fff, 542px 271px #fff, 1566px 1966px #fff,
    1643px 295px #fff, 743px 348px #fff, 340px 1792px #fff, 689px 140px #fff,
    1636px 1230px #fff, 930px 283px #fff, 1146px 578px #fff, 299px 51px #fff,
    159px 1159px #fff, 22px 1494px #fff, 1399px 988px #fff, 66px 1543px #fff,
    21px 917px #fff, 263px 457px #fff, 1563px 1604px #fff, 579px 953px #fff,
    1337px 1040px #fff, 1633px 837px #fff, 315px 1798px #fff, 775px 548px #fff,
    1802px 1948px #fff, 1323px 387px #fff, 1674px 11px #fff, 245px 535px #fff,
    1518px 818px #fff, 1614px 896px #fff, 123px 600px #fff, 380px 1462px #fff,
    409px 1131px #fff, 1699px 560px #fff, 234px 554px #fff, 1934px 1184px #fff,
    1190px 127px #fff, 518px 703px #fff, 1737px 938px #fff, 1208px 1465px #fff,
    1009px 107px #fff, 490px 1498px #fff, 578px 1088px #fff, 633px 1678px #fff,
    1697px 446px #fff, 774px 751px #fff, 1445px 1444px #fff, 549px 639px #fff,
    417px 810px #fff, 1110px 975px #fff, 1589px 935px #fff, 1245px 1782px #fff,
    1244px 32px #fff, 794px 1057px #fff, 1271px 1963px #fff, 1984px 409px #fff,
    1567px 746px #fff, 1800px 770px #fff, 1977px 1508px #fff, 1572px 164px #fff,
    299px 1445px #fff, 911px 25px #fff, 1409px 1854px #fff, 1184px 1503px #fff,
    1877px 434px #fff, 561px 1254px #fff, 846px 784px #fff, 1545px 1122px #fff,
    1511px 575px #fff, 1072px 410px #fff, 397px 389px #fff, 469px 1625px #fff,
    1807px 276px #fff, 1751px 1906px #fff, 1558px 1768px #fff, 1275px 31px #fff,
    1659px 1982px #fff, 1348px 447px #fff, 325px 709px #fff, 815px 1335px #fff,
    1336px 163px #fff, 300px 1647px #fff, 1977px 1311px #fff, 1588px 982px #fff,
    284px 975px #fff, 572px 981px #fff, 769px 812px #fff, 94px 462px #fff,
    485px 212px #fff, 247px 1403px #fff, 1891px 186px #fff, 966px 161px #fff,
    936px 1861px #fff, 419px 518px #fff, 54px 547px #fff, 602px 564px #fff,
    1642px 485px #fff, 1469px 894px #fff, 790px 1551px #fff, 1077px 1685px #fff,
    1219px 174px #fff, 1343px 1784px #fff, 788px 853px #fff, 575px 527px #fff,
    76px 115px #fff, 1568px 511px #fff, 1841px 881px #fff, 331px 57px #fff,
    1382px 1331px #fff, 1286px 1058px #fff, 1871px 746px #fff,
    1615px 1716px #fff, 1210px 1844px #fff, 964px 1785px #fff, 602px 764px #fff,
    1898px 424px #fff, 1657px 470px #fff, 1644px 841px #fff, 980px 693px #fff,
    104px 592px #fff, 1459px 720px #fff, 545px 974px #fff, 80px 1171px #fff,
    600px 1373px #fff, 737px 307px #fff, 1007px 271px #fff, 711px 646px #fff,
    284px 37px #fff, 633px 427px #fff, 290px 50px #fff, 358px 1084px #fff,
    394px 426px #fff, 510px 1704px #fff, 917px 1371px #fff, 1841px 939px #fff,
    1623px 1171px #fff, 1248px 775px #fff, 955px 55px #fff, 977px 1277px #fff,
    699px 963px #fff, 1596px 75px #fff, 1081px 985px #fff, 110px 1373px #fff,
    1587px 348px #fff, 923px 1428px #fff, 310px 678px #fff, 169px 213px #fff,
    1761px 1476px #fff, 1011px 127px #fff, 1713px 156px #fff, 969px 132px #fff,
    64px 827px #fff, 1299px 1216px #fff, 882px 1966px #fff, 1420px 1236px #fff,
    541px 1870px #fff, 445px 805px #fff, 999px 1210px #fff, 1104px 12px #fff,
    1029px 590px #fff, 1125px 1332px #fff, 780px 1525px #fff, 928px 1637px #fff,
    518px 1186px #fff, 1730px 1406px #fff, 1213px 1883px #fff, 1156px 370px #fff,
    492px 1606px #fff, 1332px 986px #fff, 1359px 459px #fff, 1571px 80px #fff,
    959px 1457px #fff, 219px 958px #fff, 1759px 503px #fff, 1008px 1595px #fff,
    879px 155px #fff, 98px 1754px #fff, 1319px 1736px #fff, 563px 56px #fff,
    652px 564px #fff, 942px 56px #fff, 1717px 672px #fff, 1847px 1232px #fff,
    303px 1973px #fff, 537px 401px #fff, 251px 1194px #fff, 1006px 201px #fff,
    1617px 799px #fff, 1083px 1547px #fff, 1783px 1399px #fff, 229px 1601px #fff,
    402px 962px #fff, 1309px 1951px #fff, 1499px 239px #fff, 1376px 136px #fff,
    680px 602px #fff, 108px 1074px #fff, 3px 1431px #fff, 55px 32px #fff,
    182px 358px #fff, 667px 12px #fff, 1235px 1027px #fff, 915px 1377px #fff,
    289px 1859px #fff, 1976px 1259px #fff, 1290px 756px #fff, 571px 1800px #fff,
    1511px 1121px #fff, 1551px 485px #fff, 757px 1532px #fff, 120px 1594px #fff,
    1238px 1166px #fff, 1769px 708px #fff, 1764px 521px #fff, 445px 1930px #fff,
    410px 1140px #fff, 1721px 1895px #fff, 1366px 1143px #fff,
    1967px 1287px #fff, 278px 287px #fff, 34px 1977px #fff, 1647px 1013px #fff,
    513px 1311px #fff, 457px 1308px #fff, 1996px 96px #fff, 841px 720px #fff,
    473px 585px #fff, 194px 198px #fff, 1567px 1583px #fff, 1876px 1917px #fff,
    400px 334px #fff, 1940px 1001px #fff, 1760px 320px #fff, 1163px 1740px #fff,
    1517px 1057px #fff, 310px 421px #fff, 1239px 534px #fff, 943px 156px #fff,
    1659px 1196px #fff, 10px 626px #fff, 1466px 1802px #fff, 991px 199px #fff,
    1910px 1052px #fff, 216px 1428px #fff, 1213px 1413px #fff, 639px 1539px #fff,
    505px 1138px #fff, 421px 1432px #fff, 650px 1264px #fff, 1047px 323px #fff,
    1255px 28px #fff, 453px 1171px #fff, 820px 986px #fff, 1617px 1578px #fff,
    1078px 212px #fff, 1963px 1988px #fff, 1396px 1537px #fff, 138px 1356px #fff,
    873px 775px #fff, 1213px 575px #fff, 863px 1615px #fff, 1848px 1098px #fff,
    1261px 97px #fff, 82px 1389px #fff, 1123px 887px #fff, 442px 1874px #fff,
    1392px 769px #fff, 840px 244px #fff, 1287px 839px #fff, 1313px 132px #fff,
    1939px 1505px #fff, 1581px 1655px #fff, 107px 145px #fff, 1377px 484px #fff,
    1916px 682px #fff, 567px 1090px #fff, 1410px 1492px #fff, 1230px 1658px #fff,
    615px 246px #fff, 1001px 37px #fff, 619px 1295px #fff, 772px 424px #fff,
    676px 331px #fff, 1633px 761px #fff, 607px 1508px #fff, 223px 661px #fff,
    853px 670px #fff, 466px 1375px #fff, 347px 397px #fff, 1411px 821px #fff,
    1661px 743px #fff, 1401px 1340px #fff, 1760px 1928px #fff, 874px 1745px #fff,
    67px 111px #fff, 1561px 1054px #fff, 439px 1489px #fff, 976px 1120px #fff,
    1522px 1321px #fff, 148px 167px #fff, 522px 1447px #fff, 1639px 1703px #fff,
    820px 1596px #fff, 1165px 577px #fff, 102px 1163px #fff, 1420px 923px #fff,
    1655px 447px #fff, 628px 1692px #fff, 1131px 974px #fff, 1481px 1386px #fff,
    281px 1466px #fff, 472px 1856px #fff, 552px 347px #fff, 896px 1390px #fff,
    1035px 1942px #fff, 1832px 742px #fff, 545px 1381px #fff, 931px 471px #fff,
    152px 1244px #fff, 1655px 879px #fff, 870px 1302px #fff, 1369px 1020px #fff,
    930px 161px #fff, 430px 613px #fff, 775px 868px #fff, 695px 535px #fff,
    626px 527px #fff, 299px 936px #fff, 1701px 1155px #fff, 1029px 1747px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 50px 1402px #fff, 445px 1100px #fff, 344px 320px #fff,
    996px 301px #fff, 244px 69px #fff, 724px 959px #fff, 1384px 1212px #fff,
    1739px 1843px #fff, 709px 1067px #fff, 1413px 1673px #fff, 1378px 168px #fff,
    1976px 1512px #fff, 1644px 1468px #fff, 1470px 1560px #fff, 922px 124px #fff,
    485px 1945px #fff, 683px 1144px #fff, 1744px 1023px #fff, 1129px 469px #fff,
    1404px 1946px #fff, 652px 500px #fff, 733px 1192px #fff, 732px 1620px #fff,
    1630px 1624px #fff, 190px 1830px #fff, 1517px 1568px #fff, 1363px 346px #fff,
    978px 1550px #fff, 1423px 1916px #fff, 1149px 1909px #fff, 73px 1712px #fff,
    614px 504px #fff, 1358px 1304px #fff, 332px 1070px #fff, 90px 1377px #fff,
    992px 977px #fff, 771px 992px #fff, 1721px 1523px #fff, 1907px 795px #fff,
    132px 1934px #fff, 864px 1833px #fff, 1408px 1843px #fff, 719px 164px #fff,
    1888px 1389px #fff, 862px 476px #fff, 160px 951px #fff, 1940px 540px #fff,
    4px 1860px #fff, 1298px 199px #fff, 336px 761px #fff, 888px 1347px #fff,
    476px 1561px #fff, 1918px 1236px #fff, 1557px 1758px #fff, 465px 576px #fff,
    1870px 897px #fff, 349px 381px #fff, 1690px 776px #fff, 1339px 898px #fff,
    1813px 1307px #fff, 306px 489px #fff, 355px 372px #fff, 1479px 549px #fff,
    220px 1042px #fff, 712px 14px #fff, 1121px 47px #fff, 1556px 1511px #fff,
    1425px 564px #fff, 1349px 328px #fff, 1906px 1524px #fff, 693px 1630px #fff,
    1775px 853px #fff, 849px 525px #fff, 1243px 135px #fff, 1566px 694px #fff,
    1204px 1992px #fff, 1953px 1288px #fff, 670px 1785px #fff, 701px 1594px #fff,
    1478px 1733px #fff, 199px 849px #fff, 1279px 1828px #fff, 1376px 358px #fff,
    1345px 1888px #fff, 1091px 1387px #fff, 1048px 873px #fff, 788px 1374px #fff,
    187px 596px #fff, 1946px 1200px #fff, 1585px 1167px #fff, 823px 538px #fff,
    1323px 737px #fff, 862px 1377px #fff, 1991px 1424px #fff, 814px 326px #fff,
    213px 473px #fff, 1571px 419px #fff, 877px 486px #fff, 1335px 585px #fff,
    731px 141px #fff, 939px 1933px #fff, 1953px 1506px #fff, 983px 85px #fff,
    1188px 43px #fff, 1974px 1789px #fff, 1430px 1309px #fff, 1314px 1899px #fff,
    686px 332px #fff, 1698px 1595px #fff, 520px 900px #fff, 1379px 710px #fff,
    1248px 486px #fff, 508px 441px #fff, 1736px 441px #fff, 376px 1888px #fff,
    1895px 1006px #fff, 1476px 657px #fff, 537px 74px #fff, 673px 200px #fff,
    1387px 116px #fff, 930px 1548px #fff, 1628px 50px #fff, 790px 1810px #fff,
    1836px 141px #fff, 749px 1313px #fff, 1665px 599px #fff, 904px 1231px #fff,
    814px 1056px #fff, 882px 378px #fff, 1370px 1306px #fff, 1850px 1090px #fff,
    405px 1228px #fff, 442px 572px #fff, 1849px 319px #fff, 118px 1425px #fff,
    1071px 560px #fff, 547px 1019px #fff, 890px 1435px #fff, 1004px 133px #fff,
    1727px 1197px #fff, 115px 1339px #fff, 1214px 1051px #fff, 197px 460px #fff,
    1420px 1377px #fff, 201px 403px #fff, 689px 1672px #fff, 839px 1845px #fff,
    535px 1177px #fff, 1875px 1930px #fff, 717px 1185px #fff, 1543px 1234px #fff,
    240px 1702px #fff, 830px 1553px #fff, 223px 266px #fff, 1464px 1104px #fff,
    1783px 1615px #fff, 1517px 441px #fff, 1965px 638px #fff, 1611px 1047px #fff,
    1588px 390px #fff, 1619px 1498px #fff, 114px 1580px #fff, 1675px 1274px #fff,
    1710px 26px #fff, 1950px 600px #fff, 579px 401px #fff, 942px 284px #fff,
    1690px 665px #fff, 120px 970px #fff, 1007px 1596px #fff, 963px 1169px #fff,
    1886px 774px #fff, 1905px 840px #fff, 1791px 123px #fff, 1000px 1530px #fff,
    727px 1868px #fff, 170px 1069px #fff, 167px 905px #fff, 1152px 34px #fff,
    1963px 603px #fff, 1996px 1745px #fff, 205px 782px #fff, 1986px 359px #fff,
    48px 1310px #fff, 1546px 126px #fff, 473px 1122px #fff, 59px 715px #fff,
    438px 116px #fff, 401px 10px #fff, 1135px 1865px #fff, 702px 1773px #fff,
    271px 810px #fff, 1175px 558px #fff, 1371px 1462px #fff, 414px 580px #fff,
    1817px 32px #fff, 904px 1027px #fff, 67px 1268px #fff, 1003px 453px #fff,
    1924px 1931px #fff, 69px 1014px #fff, 836px 1236px #fff, 70px 713px #fff,
    1088px 778px #fff, 1296px 1404px #fff, 1967px 1071px #fff, 1437px 369px #fff,
    1629px 1516px #fff, 492px 985px #fff, 1925px 1288px #fff, 1187px 1805px #fff,
    1457px 502px #fff, 1330px 1977px #fff, 978px 1173px #fff, 506px 201px #fff,
    85px 1649px #fff, 713px 294px #fff, 944px 1264px #fff, 929px 1734px #fff,
    3px 1594px #fff, 324px 1652px #fff, 101px 1944px #fff, 694px 858px #fff,
    230px 1001px #fff, 1454px 512px #fff, 254px 542px #fff, 1151px 815px #fff,
    483px 1872px #fff, 597px 1872px #fff, 44px 1625px #fff, 1848px 1403px #fff,
    138px 457px #fff, 369px 152px #fff, 966px 45px #fff, 1415px 425px #fff,
    198px 88px #fff, 892px 220px #fff, 1342px 1609px #fff, 1009px 848px #fff,
    1777px 368px #fff, 1060px 742px #fff, 277px 930px #fff, 395px 765px #fff,
    564px 1357px #fff, 1821px 1475px #fff, 1783px 686px #fff, 1947px 491px #fff,
    458px 578px #fff, 748px 508px #fff, 705px 1645px #fff, 1312px 832px #fff,
    73px 1906px #fff, 751px 1489px #fff, 471px 188px #fff, 944px 1281px #fff,
    1133px 64px #fff, 1707px 371px #fff, 1054px 171px #fff, 1073px 1897px #fff,
    46px 715px #fff, 1381px 698px #fff, 1489px 1413px #fff, 1319px 1985px #fff,
    869px 36px #fff, 1216px 365px #fff, 50px 1662px #fff, 1404px 705px #fff,
    1085px 13px #fff, 1858px 1348px #fff, 837px 101px #fff, 479px 131px #fff,
    888px 1489px #fff, 1133px 1864px #fff, 382px 287px #fff, 216px 1998px #fff,
    328px 1490px #fff, 1738px 1304px #fff, 670px 1657px #fff, 1292px 1913px #fff,
    1461px 1004px #fff, 5px 1269px #fff, 674px 490px #fff, 516px 1873px #fff,
    1205px 466px #fff, 989px 1525px #fff, 4px 1294px #fff, 692px 888px #fff,
    211px 419px #fff, 711px 1942px #fff, 1942px 183px #fff, 1463px 874px #fff,
    1748px 310px #fff, 1076px 1863px #fff, 639px 847px #fff, 138px 65px #fff,
    124px 1302px #fff, 1153px 174px #fff, 703px 25px #fff, 1749px 61px #fff,
    424px 1284px #fff, 1459px 156px #fff, 1462px 1444px #fff, 1035px 352px #fff,
    1796px 278px #fff, 1761px 929px #fff, 1710px 253px #fff, 642px 110px #fff,
    39px 602px #fff, 52px 1677px #fff, 1714px 1150px #fff, 1857px 367px #fff,
    466px 652px #fff, 455px 208px #fff, 66px 1020px #fff, 947px 682px #fff,
    1534px 1482px #fff, 1540px 409px #fff, 1137px 1543px #fff, 1102px 436px #fff,
    1129px 434px #fff, 1893px 253px #fff, 685px 88px #fff, 1522px 1524px #fff,
    952px 72px #fff, 1355px 827px #fff, 338px 1680px #fff, 1242px 1126px #fff,
    444px 1682px #fff, 1175px 753px #fff, 894px 1328px #fff, 1479px 689px #fff,
    797px 887px #fff, 52px 1462px #fff, 992px 12px #fff, 1915px 243px #fff,
    351px 803px #fff, 17px 1640px #fff, 1305px 1617px #fff, 1147px 1117px #fff,
    1662px 506px #fff, 1058px 1349px #fff, 572px 1872px #fff, 892px 826px #fff,
    1291px 1084px #fff, 53px 1524px #fff, 1030px 1576px #fff, 22px 507px #fff,
    1914px 1055px #fff, 540px 774px #fff, 1856px 1219px #fff, 1071px 298px #fff,
    1979px 157px #fff, 814px 1415px #fff, 1056px 829px #fff, 1312px 1895px #fff,
    696px 945px #fff, 1082px 1902px #fff, 1946px 268px #fff, 1564px 1392px #fff,
    228px 1643px #fff, 1035px 328px #fff, 1959px 340px #fff, 582px 375px #fff,
    1788px 198px #fff, 254px 431px #fff, 121px 999px #fff, 1606px 55px #fff,
    1384px 1142px #fff, 1480px 582px #fff, 1316px 1036px #fff,
    1762px 1245px #fff, 1862px 1490px #fff, 542px 271px #fff, 1566px 1966px #fff,
    1643px 295px #fff, 743px 348px #fff, 340px 1792px #fff, 689px 140px #fff,
    1636px 1230px #fff, 930px 283px #fff, 1146px 578px #fff, 299px 51px #fff,
    159px 1159px #fff, 22px 1494px #fff, 1399px 988px #fff, 66px 1543px #fff,
    21px 917px #fff, 263px 457px #fff, 1563px 1604px #fff, 579px 953px #fff,
    1337px 1040px #fff, 1633px 837px #fff, 315px 1798px #fff, 775px 548px #fff,
    1802px 1948px #fff, 1323px 387px #fff, 1674px 11px #fff, 245px 535px #fff,
    1518px 818px #fff, 1614px 896px #fff, 123px 600px #fff, 380px 1462px #fff,
    409px 1131px #fff, 1699px 560px #fff, 234px 554px #fff, 1934px 1184px #fff,
    1190px 127px #fff, 518px 703px #fff, 1737px 938px #fff, 1208px 1465px #fff,
    1009px 107px #fff, 490px 1498px #fff, 578px 1088px #fff, 633px 1678px #fff,
    1697px 446px #fff, 774px 751px #fff, 1445px 1444px #fff, 549px 639px #fff,
    417px 810px #fff, 1110px 975px #fff, 1589px 935px #fff, 1245px 1782px #fff,
    1244px 32px #fff, 794px 1057px #fff, 1271px 1963px #fff, 1984px 409px #fff,
    1567px 746px #fff, 1800px 770px #fff, 1977px 1508px #fff, 1572px 164px #fff,
    299px 1445px #fff, 911px 25px #fff, 1409px 1854px #fff, 1184px 1503px #fff,
    1877px 434px #fff, 561px 1254px #fff, 846px 784px #fff, 1545px 1122px #fff,
    1511px 575px #fff, 1072px 410px #fff, 397px 389px #fff, 469px 1625px #fff,
    1807px 276px #fff, 1751px 1906px #fff, 1558px 1768px #fff, 1275px 31px #fff,
    1659px 1982px #fff, 1348px 447px #fff, 325px 709px #fff, 815px 1335px #fff,
    1336px 163px #fff, 300px 1647px #fff, 1977px 1311px #fff, 1588px 982px #fff,
    284px 975px #fff, 572px 981px #fff, 769px 812px #fff, 94px 462px #fff,
    485px 212px #fff, 247px 1403px #fff, 1891px 186px #fff, 966px 161px #fff,
    936px 1861px #fff, 419px 518px #fff, 54px 547px #fff, 602px 564px #fff,
    1642px 485px #fff, 1469px 894px #fff, 790px 1551px #fff, 1077px 1685px #fff,
    1219px 174px #fff, 1343px 1784px #fff, 788px 853px #fff, 575px 527px #fff,
    76px 115px #fff, 1568px 511px #fff, 1841px 881px #fff, 331px 57px #fff,
    1382px 1331px #fff, 1286px 1058px #fff, 1871px 746px #fff,
    1615px 1716px #fff, 1210px 1844px #fff, 964px 1785px #fff, 602px 764px #fff,
    1898px 424px #fff, 1657px 470px #fff, 1644px 841px #fff, 980px 693px #fff,
    104px 592px #fff, 1459px 720px #fff, 545px 974px #fff, 80px 1171px #fff,
    600px 1373px #fff, 737px 307px #fff, 1007px 271px #fff, 711px 646px #fff,
    284px 37px #fff, 633px 427px #fff, 290px 50px #fff, 358px 1084px #fff,
    394px 426px #fff, 510px 1704px #fff, 917px 1371px #fff, 1841px 939px #fff,
    1623px 1171px #fff, 1248px 775px #fff, 955px 55px #fff, 977px 1277px #fff,
    699px 963px #fff, 1596px 75px #fff, 1081px 985px #fff, 110px 1373px #fff,
    1587px 348px #fff, 923px 1428px #fff, 310px 678px #fff, 169px 213px #fff,
    1761px 1476px #fff, 1011px 127px #fff, 1713px 156px #fff, 969px 132px #fff,
    64px 827px #fff, 1299px 1216px #fff, 882px 1966px #fff, 1420px 1236px #fff,
    541px 1870px #fff, 445px 805px #fff, 999px 1210px #fff, 1104px 12px #fff,
    1029px 590px #fff, 1125px 1332px #fff, 780px 1525px #fff, 928px 1637px #fff,
    518px 1186px #fff, 1730px 1406px #fff, 1213px 1883px #fff, 1156px 370px #fff,
    492px 1606px #fff, 1332px 986px #fff, 1359px 459px #fff, 1571px 80px #fff,
    959px 1457px #fff, 219px 958px #fff, 1759px 503px #fff, 1008px 1595px #fff,
    879px 155px #fff, 98px 1754px #fff, 1319px 1736px #fff, 563px 56px #fff,
    652px 564px #fff, 942px 56px #fff, 1717px 672px #fff, 1847px 1232px #fff,
    303px 1973px #fff, 537px 401px #fff, 251px 1194px #fff, 1006px 201px #fff,
    1617px 799px #fff, 1083px 1547px #fff, 1783px 1399px #fff, 229px 1601px #fff,
    402px 962px #fff, 1309px 1951px #fff, 1499px 239px #fff, 1376px 136px #fff,
    680px 602px #fff, 108px 1074px #fff, 3px 1431px #fff, 55px 32px #fff,
    182px 358px #fff, 667px 12px #fff, 1235px 1027px #fff, 915px 1377px #fff,
    289px 1859px #fff, 1976px 1259px #fff, 1290px 756px #fff, 571px 1800px #fff,
    1511px 1121px #fff, 1551px 485px #fff, 757px 1532px #fff, 120px 1594px #fff,
    1238px 1166px #fff, 1769px 708px #fff, 1764px 521px #fff, 445px 1930px #fff,
    410px 1140px #fff, 1721px 1895px #fff, 1366px 1143px #fff,
    1967px 1287px #fff, 278px 287px #fff, 34px 1977px #fff, 1647px 1013px #fff,
    513px 1311px #fff, 457px 1308px #fff, 1996px 96px #fff, 841px 720px #fff,
    473px 585px #fff, 194px 198px #fff, 1567px 1583px #fff, 1876px 1917px #fff,
    400px 334px #fff, 1940px 1001px #fff, 1760px 320px #fff, 1163px 1740px #fff,
    1517px 1057px #fff, 310px 421px #fff, 1239px 534px #fff, 943px 156px #fff,
    1659px 1196px #fff, 10px 626px #fff, 1466px 1802px #fff, 991px 199px #fff,
    1910px 1052px #fff, 216px 1428px #fff, 1213px 1413px #fff, 639px 1539px #fff,
    505px 1138px #fff, 421px 1432px #fff, 650px 1264px #fff, 1047px 323px #fff,
    1255px 28px #fff, 453px 1171px #fff, 820px 986px #fff, 1617px 1578px #fff,
    1078px 212px #fff, 1963px 1988px #fff, 1396px 1537px #fff, 138px 1356px #fff,
    873px 775px #fff, 1213px 575px #fff, 863px 1615px #fff, 1848px 1098px #fff,
    1261px 97px #fff, 82px 1389px #fff, 1123px 887px #fff, 442px 1874px #fff,
    1392px 769px #fff, 840px 244px #fff, 1287px 839px #fff, 1313px 132px #fff,
    1939px 1505px #fff, 1581px 1655px #fff, 107px 145px #fff, 1377px 484px #fff,
    1916px 682px #fff, 567px 1090px #fff, 1410px 1492px #fff, 1230px 1658px #fff,
    615px 246px #fff, 1001px 37px #fff, 619px 1295px #fff, 772px 424px #fff,
    676px 331px #fff, 1633px 761px #fff, 607px 1508px #fff, 223px 661px #fff,
    853px 670px #fff, 466px 1375px #fff, 347px 397px #fff, 1411px 821px #fff,
    1661px 743px #fff, 1401px 1340px #fff, 1760px 1928px #fff, 874px 1745px #fff,
    67px 111px #fff, 1561px 1054px #fff, 439px 1489px #fff, 976px 1120px #fff,
    1522px 1321px #fff, 148px 167px #fff, 522px 1447px #fff, 1639px 1703px #fff,
    820px 1596px #fff, 1165px 577px #fff, 102px 1163px #fff, 1420px 923px #fff,
    1655px 447px #fff, 628px 1692px #fff, 1131px 974px #fff, 1481px 1386px #fff,
    281px 1466px #fff, 472px 1856px #fff, 552px 347px #fff, 896px 1390px #fff,
    1035px 1942px #fff, 1832px 742px #fff, 545px 1381px #fff, 931px 471px #fff,
    152px 1244px #fff, 1655px 879px #fff, 870px 1302px #fff, 1369px 1020px #fff,
    930px 161px #fff, 430px 613px #fff, 775px 868px #fff, 695px 535px #fff,
    626px 527px #fff, 299px 936px #fff, 1701px 1155px #fff, 1029px 1747px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1707px 460px #fff, 1187px 961px #fff, 652px 73px #fff,
    1059px 837px #fff, 1540px 1944px #fff, 1075px 1907px #fff, 104px 645px #fff,
    477px 568px #fff, 650px 1772px #fff, 755px 706px #fff, 1919px 1997px #fff,
    1048px 1850px #fff, 670px 1600px #fff, 412px 120px #fff, 1276px 1133px #fff,
    664px 1095px #fff, 1806px 1303px #fff, 1591px 1921px #fff,
    1859px 1159px #fff, 1998px 1817px #fff, 271px 425px #fff, 1013px 450px #fff,
    520px 135px #fff, 476px 570px #fff, 1255px 984px #fff, 1511px 31px #fff,
    302px 295px #fff, 342px 1684px #fff, 241px 754px #fff, 975px 625px #fff,
    614px 627px #fff, 1883px 1487px #fff, 1561px 144px #fff, 881px 584px #fff,
    1429px 1864px #fff, 704px 852px #fff, 1114px 1938px #fff, 877px 446px #fff,
    576px 321px #fff, 382px 515px #fff, 266px 1271px #fff, 1269px 1171px #fff,
    1502px 1494px #fff, 618px 1425px #fff, 292px 1975px #fff, 1971px 1423px #fff,
    679px 1256px #fff, 1039px 943px #fff, 1923px 722px #fff, 242px 1020px #fff,
    1371px 405px #fff, 1977px 1972px #fff, 156px 1838px #fff, 460px 1851px #fff,
    67px 1868px #fff, 1410px 578px #fff, 1335px 1860px #fff, 1621px 1750px #fff,
    1136px 24px #fff, 1382px 1704px #fff, 198px 1435px #fff, 1342px 523px #fff,
    348px 1276px #fff, 551px 786px #fff, 1029px 411px #fff, 1599px 480px #fff,
    224px 178px #fff, 879px 448px #fff, 1547px 603px #fff, 1720px 1743px #fff,
    617px 1322px #fff, 895px 1064px #fff, 958px 308px #fff, 105px 1693px #fff,
    719px 1405px #fff, 1661px 1546px #fff, 1275px 419px #fff, 942px 1682px #fff,
    252px 1706px #fff, 1412px 897px #fff, 1814px 593px #fff, 1320px 1394px #fff,
    1050px 467px #fff, 1377px 624px #fff, 1078px 1923px #fff, 851px 1997px #fff,
    526px 446px #fff, 728px 159px #fff, 650px 308px #fff, 1123px 180px #fff,
    1108px 1097px #fff, 823px 119px #fff, 706px 520px #fff, 1049px 1296px #fff,
    815px 1485px #fff, 907px 47px #fff, 1973px 1526px #fff, 699px 1475px #fff,
    810px 1642px #fff, 901px 1987px #fff, 1622px 1576px #fff, 1494px 1428px #fff,
    247px 1356px #fff, 494px 940px #fff, 597px 1926px #fff, 1945px 464px #fff,
    551px 1226px #fff, 1326px 1855px #fff, 1308px 396px #fff, 1110px 1020px #fff,
    1032px 1019px #fff, 1519px 418px #fff, 419px 117px #fff, 780px 543px #fff,
    193px 1808px #fff, 1966px 755px #fff, 1674px 11px #fff, 838px 554px #fff,
    1678px 1201px #fff, 536px 932px #fff, 1231px 398px #fff, 653px 6px #fff,
    844px 26px #fff, 669px 1968px #fff, 944px 1209px #fff, 49px 1172px #fff,
    1280px 1589px #fff, 241px 60px #fff, 228px 504px #fff, 321px 491px #fff,
    1809px 1163px #fff, 1919px 1634px #fff, 1471px 1700px #fff,
    1051px 1182px #fff, 1180px 994px #fff, 683px 1017px #fff, 607px 799px #fff,
    1103px 486px #fff, 365px 210px #fff, 1657px 802px #fff, 534px 806px #fff,
    1626px 1564px #fff, 356px 949px #fff, 1373px 196px #fff, 120px 361px #fff,
    567px 1943px #fff, 606px 1384px #fff, 473px 1852px #fff, 504px 1416px #fff,
    1896px 85px #fff, 989px 1833px #fff, 1325px 1506px #fff, 281px 1900px #fff,
    763px 441px #fff, 733px 1336px #fff, 611px 382px #fff, 407px 886px #fff,
    231px 801px #fff, 1576px 467px #fff, 819px 136px #fff, 341px 1596px #fff,
    264px 1206px #fff, 1209px 1248px #fff, 1970px 1161px #fff, 1144px 553px #fff,
    1039px 420px #fff, 1650px 1305px #fff, 104px 1176px #fff, 978px 1050px #fff,
    1363px 957px #fff, 1116px 1246px #fff, 812px 1237px #fff, 509px 885px #fff,
    896px 1096px #fff, 1657px 1267px #fff, 680px 1793px #fff, 683px 901px #fff,
    604px 247px #fff, 128px 1625px #fff, 709px 148px #fff, 876px 1436px #fff,
    1435px 952px #fff, 1551px 546px #fff, 1511px 1534px #fff, 906px 1113px #fff,
    1659px 1924px #fff, 1084px 1935px #fff, 1369px 1805px #fff,
    1857px 1515px #fff, 1043px 1167px #fff, 1629px 776px #fff, 41px 1781px #fff,
    1193px 1791px #fff, 1330px 1253px #fff, 1645px 1129px #fff,
    250px 1701px #fff, 475px 841px #fff, 1083px 1116px #fff, 338px 638px #fff,
    475px 1251px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1707px 460px #fff, 1187px 961px #fff, 652px 73px #fff,
    1059px 837px #fff, 1540px 1944px #fff, 1075px 1907px #fff, 104px 645px #fff,
    477px 568px #fff, 650px 1772px #fff, 755px 706px #fff, 1919px 1997px #fff,
    1048px 1850px #fff, 670px 1600px #fff, 412px 120px #fff, 1276px 1133px #fff,
    664px 1095px #fff, 1806px 1303px #fff, 1591px 1921px #fff,
    1859px 1159px #fff, 1998px 1817px #fff, 271px 425px #fff, 1013px 450px #fff,
    520px 135px #fff, 476px 570px #fff, 1255px 984px #fff, 1511px 31px #fff,
    302px 295px #fff, 342px 1684px #fff, 241px 754px #fff, 975px 625px #fff,
    614px 627px #fff, 1883px 1487px #fff, 1561px 144px #fff, 881px 584px #fff,
    1429px 1864px #fff, 704px 852px #fff, 1114px 1938px #fff, 877px 446px #fff,
    576px 321px #fff, 382px 515px #fff, 266px 1271px #fff, 1269px 1171px #fff,
    1502px 1494px #fff, 618px 1425px #fff, 292px 1975px #fff, 1971px 1423px #fff,
    679px 1256px #fff, 1039px 943px #fff, 1923px 722px #fff, 242px 1020px #fff,
    1371px 405px #fff, 1977px 1972px #fff, 156px 1838px #fff, 460px 1851px #fff,
    67px 1868px #fff, 1410px 578px #fff, 1335px 1860px #fff, 1621px 1750px #fff,
    1136px 24px #fff, 1382px 1704px #fff, 198px 1435px #fff, 1342px 523px #fff,
    348px 1276px #fff, 551px 786px #fff, 1029px 411px #fff, 1599px 480px #fff,
    224px 178px #fff, 879px 448px #fff, 1547px 603px #fff, 1720px 1743px #fff,
    617px 1322px #fff, 895px 1064px #fff, 958px 308px #fff, 105px 1693px #fff,
    719px 1405px #fff, 1661px 1546px #fff, 1275px 419px #fff, 942px 1682px #fff,
    252px 1706px #fff, 1412px 897px #fff, 1814px 593px #fff, 1320px 1394px #fff,
    1050px 467px #fff, 1377px 624px #fff, 1078px 1923px #fff, 851px 1997px #fff,
    526px 446px #fff, 728px 159px #fff, 650px 308px #fff, 1123px 180px #fff,
    1108px 1097px #fff, 823px 119px #fff, 706px 520px #fff, 1049px 1296px #fff,
    815px 1485px #fff, 907px 47px #fff, 1973px 1526px #fff, 699px 1475px #fff,
    810px 1642px #fff, 901px 1987px #fff, 1622px 1576px #fff, 1494px 1428px #fff,
    247px 1356px #fff, 494px 940px #fff, 597px 1926px #fff, 1945px 464px #fff,
    551px 1226px #fff, 1326px 1855px #fff, 1308px 396px #fff, 1110px 1020px #fff,
    1032px 1019px #fff, 1519px 418px #fff, 419px 117px #fff, 780px 543px #fff,
    193px 1808px #fff, 1966px 755px #fff, 1674px 11px #fff, 838px 554px #fff,
    1678px 1201px #fff, 536px 932px #fff, 1231px 398px #fff, 653px 6px #fff,
    844px 26px #fff, 669px 1968px #fff, 944px 1209px #fff, 49px 1172px #fff,
    1280px 1589px #fff, 241px 60px #fff, 228px 504px #fff, 321px 491px #fff,
    1809px 1163px #fff, 1919px 1634px #fff, 1471px 1700px #fff,
    1051px 1182px #fff, 1180px 994px #fff, 683px 1017px #fff, 607px 799px #fff,
    1103px 486px #fff, 365px 210px #fff, 1657px 802px #fff, 534px 806px #fff,
    1626px 1564px #fff, 356px 949px #fff, 1373px 196px #fff, 120px 361px #fff,
    567px 1943px #fff, 606px 1384px #fff, 473px 1852px #fff, 504px 1416px #fff,
    1896px 85px #fff, 989px 1833px #fff, 1325px 1506px #fff, 281px 1900px #fff,
    763px 441px #fff, 733px 1336px #fff, 611px 382px #fff, 407px 886px #fff,
    231px 801px #fff, 1576px 467px #fff, 819px 136px #fff, 341px 1596px #fff,
    264px 1206px #fff, 1209px 1248px #fff, 1970px 1161px #fff, 1144px 553px #fff,
    1039px 420px #fff, 1650px 1305px #fff, 104px 1176px #fff, 978px 1050px #fff,
    1363px 957px #fff, 1116px 1246px #fff, 812px 1237px #fff, 509px 885px #fff,
    896px 1096px #fff, 1657px 1267px #fff, 680px 1793px #fff, 683px 901px #fff,
    604px 247px #fff, 128px 1625px #fff, 709px 148px #fff, 876px 1436px #fff,
    1435px 952px #fff, 1551px 546px #fff, 1511px 1534px #fff, 906px 1113px #fff,
    1659px 1924px #fff, 1084px 1935px #fff, 1369px 1805px #fff,
    1857px 1515px #fff, 1043px 1167px #fff, 1629px 776px #fff, 41px 1781px #fff,
    1193px 1791px #fff, 1330px 1253px #fff, 1645px 1129px #fff,
    250px 1701px #fff, 475px 841px #fff, 1083px 1116px #fff, 338px 638px #fff,
    475px 1251px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 111px 486px #fff, 1473px 741px #fff, 1722px 644px #fff,
    513px 341px #fff, 1180px 1228px #fff, 901px 733px #fff, 1195px 223px #fff,
    1400px 1803px #fff, 1655px 1882px #fff, 69px 852px #fff, 223px 1075px #fff,
    1904px 1053px #fff, 1241px 1230px #fff, 49px 840px #fff, 1504px 335px #fff,
    174px 1494px #fff, 1085px 917px #fff, 1381px 1036px #fff, 1971px 1028px #fff,
    1542px 646px #fff, 769px 583px #fff, 1065px 57px #fff, 488px 1517px #fff,
    219px 1461px #fff, 1547px 1512px #fff, 1943px 862px #fff, 169px 1773px #fff,
    490px 252px #fff, 1940px 1782px #fff, 480px 1217px #fff, 1020px 1181px #fff,
    1470px 765px #fff, 165px 142px #fff, 1265px 787px #fff, 694px 1482px #fff,
    338px 1016px #fff, 113px 1271px #fff, 306px 1949px #fff, 1600px 1439px #fff,
    634px 1280px #fff, 168px 962px #fff, 339px 972px #fff, 1750px 1193px #fff,
    1492px 866px #fff, 1638px 1722px #fff, 95px 1177px #fff, 1013px 1712px #fff,
    1710px 618px #fff, 698px 93px #fff, 50px 745px #fff, 1568px 1614px #fff,
    546px 1336px #fff, 383px 1091px #fff, 1515px 1898px #fff, 1907px 879px #fff,
    1916px 153px #fff, 1351px 750px #fff, 1881px 123px #fff, 757px 1057px #fff,
    74px 61px #fff, 669px 1292px #fff, 54px 1056px #fff, 63px 1344px #fff,
    1578px 56px #fff, 212px 1424px #fff, 790px 1298px #fff, 1703px 1175px #fff,
    491px 559px #fff, 1007px 813px #fff, 571px 700px #fff, 495px 1065px #fff,
    520px 1502px #fff, 1482px 769px #fff, 726px 1077px #fff, 457px 1708px #fff,
    1044px 1528px #fff, 1448px 1446px #fff, 500px 1939px #fff,
    1939px 1501px #fff, 493px 1919px #fff, 489px 396px #fff, 602px 1687px #fff,
    1115px 1935px #fff, 1252px 1489px #fff, 1237px 679px #fff, 275px 1405px #fff,
    728px 1504px #fff, 559px 1790px #fff, 1300px 1829px #fff, 408px 878px #fff,
    788px 1163px #fff, 223px 1752px #fff, 217px 1691px #fff, 586px 1236px #fff,
    541px 244px #fff, 1326px 496px #fff, 1098px 271px #fff, 193px 89px #fff,
    372px 1047px #fff, 1397px 334px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 111px 486px #fff, 1473px 741px #fff, 1722px 644px #fff,
    513px 341px #fff, 1180px 1228px #fff, 901px 733px #fff, 1195px 223px #fff,
    1400px 1803px #fff, 1655px 1882px #fff, 69px 852px #fff, 223px 1075px #fff,
    1904px 1053px #fff, 1241px 1230px #fff, 49px 840px #fff, 1504px 335px #fff,
    174px 1494px #fff, 1085px 917px #fff, 1381px 1036px #fff, 1971px 1028px #fff,
    1542px 646px #fff, 769px 583px #fff, 1065px 57px #fff, 488px 1517px #fff,
    219px 1461px #fff, 1547px 1512px #fff, 1943px 862px #fff, 169px 1773px #fff,
    490px 252px #fff, 1940px 1782px #fff, 480px 1217px #fff, 1020px 1181px #fff,
    1470px 765px #fff, 165px 142px #fff, 1265px 787px #fff, 694px 1482px #fff,
    338px 1016px #fff, 113px 1271px #fff, 306px 1949px #fff, 1600px 1439px #fff,
    634px 1280px #fff, 168px 962px #fff, 339px 972px #fff, 1750px 1193px #fff,
    1492px 866px #fff, 1638px 1722px #fff, 95px 1177px #fff, 1013px 1712px #fff,
    1710px 618px #fff, 698px 93px #fff, 50px 745px #fff, 1568px 1614px #fff,
    546px 1336px #fff, 383px 1091px #fff, 1515px 1898px #fff, 1907px 879px #fff,
    1916px 153px #fff, 1351px 750px #fff, 1881px 123px #fff, 757px 1057px #fff,
    74px 61px #fff, 669px 1292px #fff, 54px 1056px #fff, 63px 1344px #fff,
    1578px 56px #fff, 212px 1424px #fff, 790px 1298px #fff, 1703px 1175px #fff,
    491px 559px #fff, 1007px 813px #fff, 571px 700px #fff, 495px 1065px #fff,
    520px 1502px #fff, 1482px 769px #fff, 726px 1077px #fff, 457px 1708px #fff,
    1044px 1528px #fff, 1448px 1446px #fff, 500px 1939px #fff,
    1939px 1501px #fff, 493px 1919px #fff, 489px 396px #fff, 602px 1687px #fff,
    1115px 1935px #fff, 1252px 1489px #fff, 1237px 679px #fff, 275px 1405px #fff,
    728px 1504px #fff, 559px 1790px #fff, 1300px 1829px #fff, 408px 878px #fff,
    788px 1163px #fff, 223px 1752px #fff, 217px 1691px #fff, 586px 1236px #fff,
    541px 244px #fff, 1326px 496px #fff, 1098px 271px #fff, 193px 89px #fff,
    372px 1047px #fff, 1397px 334px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
